h1{
    font-size: 50px;
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}
div{
    text-align: center;
}
a{
    font-size: 20px;
    background-color: red;
    padding: 15px 35px 15px 35px;
    color: white;
}